name: Node CI

on: [push]

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: 11.x
            - name: npm install and lint
              run: |
                  npm ci
                  npm run lint
              env:
                  CI: true
